*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: #1a1a1c;
    color: #fff;
}
.coin-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.coin-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coin-search h1{
    font-family:Arial, Helvetica, sans-serif;
}

.coin-search input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    background-color: #fff;
    width: 250px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    color: black;
}